@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Red+Hat+Display&family=Roboto:ital@0;1&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
.Content {
    max-width: 100%;
}
.nav-menu   {
    max-width: 100%;
}
.menu   {
    display: flex;
    list-style: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #424242;
    gap: 53px;
    align-items: flex-end;
    margin-bottom: 124px;
}
.menu li:nth-child(1){
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #D05270;
}
.container-1  {
    max-width: 100%;
    display: flex;
    gap: 20px;
}